/*-- scss:defaults --*/

//@import 'https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;500;550;600;700;800&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap';
$font-family-secondary: "Alegreya Sans", sans-serif;
$font-family-serif: "Alegreya Sans", sans-serif;
//$font-color: rgba(51, 51, 51, .85);
$font-color: #333333;
//$link-color: #1F91C7;

body{
  //font-size: 18px !important;
  //color: #343A40 !important;
  //color: $font-color !important;
  background-color: #FAFAFA !important;
}

/* ------------- Navigation bar styling starts ------------- */
.navbar {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    background-color: #FAFAFA !important;
    border-bottom: 1px solid #979797 !important;
}

.navbar .nav-link {
  font-size: 18px;
  font-weight: 600 !important;
  color: #7c7c7c !important;
  font-family: $font-family-secondary !important;
}

.navbar .nav-link.active{
    color: #343A40 !important;
    font-weight: 600 !important;
}

.navbar-title {
  font-weight: 600 !important;
  font-size: 20px;
}
/* ------------- Navigation bar styling ends ------------- */

/* ------------- About page styling starts ------------- */
.about-entity .quarto-title .h1{
  font-size: 35px !important;
  font-weight: 500 !important;
}

.about-contents h4 {
  font-weight: 600 !important;
  font-family: inherit !important;
}

.about-contents p {
  margin-bottom: 17px !important;
}

body .quarto-about-trestles {
  padding-top: 44px !important;
}
/* ------------- About page styling ends ------------- */

/* ------------- Quarto title/banner styling starts ------------- */
.quarto-title-banner {
  padding-top: 25px !important;
  padding-bottom: 15px !important;
  background-color: #FAFAFA !important;
  border-bottom: 1px solid #dee2e6 !important;
  margin-bottom: 0px !important;
}

.quarto-title-block.page-full{
  background-color: rgba(51, 51, 51, 0.03);
}

.quarto-title-block.page-full .title {
  font-size: 40px !important;
  color: #343A40 !important;
  letter-spacing: -0.01em; /* letters closer */
  line-height: 1.1; /* decrease line spacing (default is usually around 1.2 to 1.4) */
  //font-family: inherit !important;
}

.quarto-title-meta-contents {
  padding-bottom: 12px !important;
}
/* ------------- Quarto title/banner styling ends ------------- */

/* ------------- POST related styling starts ------------- */
.listing-description a{
  color: $font-color !important;
}

.listing-title a{
  color: $font-color !important;
  font-family: inherit !important;
}

.listing-title{
  font-family: inherit !important;
}

.header-section-number {
  padding-right: 10px !important;
}

.toc-active h2 {
  font-size: 16px !important;
  font-weight: 600 !important;
  font-family: inherit !important;
}
/* ------------- POST related styling ends ------------- */

/* ------------- Generic elements styling starts ------------- */
h1,h2,h3,h4 {
  color: #343A40 !important;
  font-family: $font-family-secondary !important;
}

.grey-box {
  border-left: 2px solid #CBCBCB; /* thick grey border on the left */
  padding: 0.6rem 0.5rem 0.6rem 1rem !important; /* space inside the box */
  margin-bottom: 10px;
  background-color: rgba(51, 51, 51, 0.04);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-family: $font-family-secondary !important;
  color: #343A40 !important;
}

.grey-box p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
/* ------------- Generic elements styling ends ------------- */
