/*-- scss:defaults --*/
//@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Inter:wght@300;350;400;500&display=swap';


$font-family: "Inter", sans-serif;
$font-family-serif: "Inter", sans-serif;
//$body-bg : #282a2c;
$body-bg : #212529;
//$body-color: #DEE2E6;
$body-color: #CED4DA

body {
    font-size: 18px !important; // or your preferred size for dark mode
    font-weight: 300 !important;
  }

.navbar{
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.navbar.navbar-expand-lg {
    background-color: #2B3035;
    border-bottom: 0.5px solid grey;
}

.navbar .nav-link {
  font-weight: 400 !important;
}
.navbar-title{
  font-weight: 400 !important;
}

.no-anchor.listing-title a {
    font-weight: 400;
    color: #00D49C !important;
}

.listing-description a{
  font-weight: 300 !important;
}

h1, h2, h3, h4 {
  color: #7FCDEC !important;
  font-weight: 400 !important;
}

.quarto-title h1 {
  color: #7FCDEC !important;
  font-weight: 400 !important;
}

.about-contents {
  //font-weight: 300 !important; /* Decrease font weight */
}

.about-contents h4{
  color: #00D49C !important;
  font-weight: 300;
}

.cell-output {
  color: #91A7FF !important; /* Replace with your desired color */
}

