/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Barlow&display=swap';
$font-family: "Barlow", sans-serif;
$font-family-serif: "Barlow", sans-serif;

body{
  font-size: 17.5px !important;
  //color: #212529 !important;
  //font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
  font-family: $font-family !important;
}

.navbar {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    background-color: #1A1A1A !important;
    //border-bottom: none !important;
}


.navbar .nav-link {
  //font-size: 17.5px;
  color: #a6a6a6 !important
}


.navbar .nav-link.active{
    color: #1F91C7 !important;
}


.navbar-title {
  font-weight: 800 !important;
  font-size: 20px;
  //color: #2C597B !important;
  color: #a6a6a6 !important
}


.about-contents h4 {
  //color: #215784 !important;
  font-weight: 600 !important;
  //font-size: 20px !important;
}

h1,h2,h3,h4 {
  color: #343A40 !important;
}

.listing-description a{
  color: #212529 !important;
}

