/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@350&display=swap';
//@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;350&display=swap';


$font-family: "Roboto", sans-serif;
$font-family-serif: "Roboto", sans-serif; 
$body-bg : #FAF9F6;

.navbar.navbar-expand-lg {
    background-color: #FAF9F6;
    border-bottom: 1.5px solid lightgrey;
}

.navbar .nav-link {
    //color: #FAF9F6; /* Text color */
    font-weight: 500 !important;
}
.navbar-title{
    font-weight: 600;
    //color :#FAF9F6
}

.no-anchor.listing-title a {
    font-weight: 400;
    color: #12974b;
    //color: #097F5F;
}

.quarto-post.image-right{
    //border-bottom: 1px solid #19D86B;
    //border-bottom: 1px solid #5DBECD; 
}

h1, h2, h3, h4 {
  color: #486785 !important;
}

.about-contents {
    font-weight: 300 !important; /* Decrease font weight */
}

 .about-contents h4 {
    color: #12974b !important;
    font-weight: 300;
  }